{% extends 'base.html' %}
{% load static %}

{% block content %}


  <!-- about section -->
  <div class="text-center my-5">
    <div class="p-3 mb-2 bg-warning text-dark">
      <h2> About Flowers </h2>
    </div>
    {% for i in abouts %}
    
          <div class="img-box">
            <img src="{{ i.flow10.url }}" alt="" />
          </div>
            <div class="text-center"><span class="border-right"></span>
              <p>
                {{i.about_flowers}}
              </p>
            </div>
           
          </div>
        </div>

      </div>
      {% endfor %}
    </div>
  </section>
  <!-- end about section -->
  {% endblock %}

