{% extends 'base.html' %}
{% load static %}


{% block content %}




<div class="text-center my-5">
  <h1>Blogs</h1>
  <hr />
</div>
<div class="container">

  <div class="row">

    {% for i in blogs %}
    <div class="col-lg-4 col-md-6 col-sm-12" >

      <div class="card mb-5 shadow-sm" style="height: 400px;">

        <img src="{{ i.image.url }}" class="img-fluid" />

        <div class="card-body" style="height: 500px;">
          <div class="card-title" style="height: 130px;">
            <h2 style="color: black;">{{ i.title }}</h2>
          </div>
          <div class="card-text">
            <p>
              
            </p>
          </div>
          <a href="blogs/{{i.slug}}" class="btn btn-outline-primary rounded-0 float-end">Read More</a>
        </div>

      </div>

    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}

<!-- let blog = document.getElementById('blog')
    fetch('/core/api/blogs/')
      .then(response => response.json())
      .then(data => {
        console.log(data)
      for(let i in data) {
        blog.innerHTML += `

      <div class="card" style="width: 18rem;">
  <img src="${dta[i].image}" class="card-img-top">
  <div class="card-body">
   <h5 class="card-title"><a href="${data[i].url}">${data[i].title}
  </a></h5>
   <p class="card-text">${data[i].description}</p>
   <p>${data[i].author['username']}</p>
  </div>
</div>
        
        `
      }
      }) -->