{% extends 'base.html' %}
{% load static  %}


{% block content %}

  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="container ">
      <div class="heading_container justify-content-center">
        <h2 class="">
          Contact Uss
        </h2>
      </div>

    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <form method="post">
            {% csrf_token %}
            {{ contactus_form.as_p }}
            
        
            <div class="d-flex  mt-4 ">
              <button type="submit">
                SEND
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->

  {% endblock %}