 {% extends 'base.html' %}
 {% load static custom_tags %}


 {% block content %}




  <!-- gallery section -->
  <section class="gallery_section layout_padding">
    <div class="section_number">Fior
   </div>
    
    <div class="heading_container justify-content-center">
      <h2>
        Our Gallery
      </div>
      <div class="container">
        <div class="img_container">
          <div class="box-1">
           
              
            {% for gallery in gallerys %}
            <div class="b-1">
              <div class="img-box">
                <img src="{{ gallery.flow1.url }}" alt="">
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      
  </section>
  <!-- end gallery section -->

  <!-- client section -->

 



{% endblock %}