{% extends 'base.html' %}
{% load static %}


{% block content %}



<section>
    <div class="text-center container py-5">
        <h4 class="mt-4 mb-5"><strong>Bestsellers</strong></h4>
        <div class="btn-group" style="padding-bottom: 70px;">
            <button class="btn"><a href="{% url 'shops'%}">
                    All
                </a></button>
            <button class="btn">{% for catagory in catagorys %}
                <a href="{% url 'shops'%}?catagory={{catagory.name}}" style="padding-left: 15px;">
                    {{ catagory.name }}
                </a>
                {% endfor %}</button>

        </div>


        <div class="container">
            <div class="row">
                {% for i in shops %}
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card" style="height: 420px;">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                            data-mdb-ripple-color="light">
                            <img src="{{ i.image.url }}" class="w-100" />
                            <a href="#!">
                                <div class="mask">
                                    
                                </div>
                                <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="shops/{{i.slug}}" class="text-reset">
                                <h5 class="card-title mb-3">{{ i.title}}</h5>
                            </a>
                            <a href="" class="text-reset">
                                
                            </a>
                            <h6 class="mb-3">${{i.price}}</h6>
                        </div>
                        <!-- <span style="color:red;">
                        {{i.body}}
                    </span> -->
                    </div>

                </div>
                {% endfor %}
            </div>
            <form action="" method="post">
                {%csrf_token%}
                <input type="hidden" name="more-shop" value="{{count}}">
                <button type="submit" class="news-btn" style="margin-left: 40%;">
                    Load More
                </button>
            </form>
        </div>

    </div>
</section>

{% endblock %}