{% extends 'base.html' %}
{% load static %}


{% block content %}


<div class="container mt-3 mb-3">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <div class="text-center p-4"> <img id="main-image" src="{{  shops.image.url }}"
                                    width="350" height="280px" /> </div>
                            <div class="thumbnail text-center"> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            
                            <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand"></span>
                                <h5 class="text-uppercase">{{ shops.title }}</h5>
                                <div class="price d-flex flex-row align-items-center"> <span
                                        class="act-price">${{ shops.price }}</span>
                                    
                                </div>
                            </div>
                            <p class="about">{{ shops.description}}</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}