{% load static %}
<!-- info section -->
<section class="info_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="info_logo">
          <h5>
            Fior
          </h5>
          {% for setting in settings %}
            
          <p>
            {{setting.logo}}
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_links pl-lg-5">
          <h5>
            Useful Link
          </h5>
          <ul>
            <li class="active">
              <a href="{% url 'home' %}">
                Home
              </a>
            </li>
            <li>
              <a href="{% url 'about' %}">
                About
              </a>
            </li>

            <li>
              <a href="{% url 'shops' %}">
                Shop
              </a>
            </li>
            <li>
              <a href="{% url 'gallerys' %}">
                Gallery
              </a>
            </li>

            <li>

              <a href="{% url 'contact' %}">
                Contact Us
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_insta">
          <h5>
            Instagram
          </h5>

          <div class="insta_container">
            <div>
              <a href="https://www.instagram.com/">
                <div class="insta-box b-1">
                  <img src="{% static 'images/insta-1.png' %}" alt="">
                </div>
              </a>
              <a href="https://www.instagram.com/">
                <div class="insta-box b-2">
                  <img src="{% static 'images/insta-2.png' %}" alt="">
                </div>
              </a>
            </div>
            <div>
              <a href="https://www.instagram.com/">
                <div class="insta-box b-3">
                  <img src="{% static 'images/insta-3.png' %}" alt="">
                </div>
              </a>
              <a href="https://www.instagram.com/">
                <div class="insta-box b-4">
                  <img src="{% static 'images/insta-4.png' %}" alt="">
                </div>
              </a>
            </div>
            <div>
              <a href="https://www.instagram.com/">
                <div class="insta-box b-3">
                  <img src="{% static 'images/insta-5.png' %}" alt="">
                </div>
              </a>
              <a href="https://www.instagram.com/">
                <div class="insta-box b-4">
                  <img src="{% static 'images/insta-6.png' %}" alt="">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_contact">
          <h5>
            Contact
            
          </h5>
          <div>
            <img src="{% static 'images/location-white.png' %}" alt="">
            <p>
              {{setting.location}}
            </p>
          </div>
          <div>
            <img src="{% static 'images/telephone-white.png' %}" alt="">
            <p>
              {{setting.phone_number}}
            </p>
          </div>
          <div>
            <img src="{% static 'images/envelope-white.png' %}" alt="">
            <p>
              {{setting.email}}
            </p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end info_section -->



<!-- footer section -->
<footer class="container-fluid footer_section">
  <p>
    &copy; <span id="displayYear"></span> All Rights Reserved By
    <a href="https://html.design/">Free Html Templates</a>
  </p>
</footer>
<!-- footer section -->